.u-section-1 {
  min-height: 500px;
}

.u-section-1 .u-slider-1 {
  min-height: 579px;
  height: auto;
  margin-top: -79px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/slide1.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/slide2.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/slide3.png");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/slide4.png");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/slide5.png");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/slide6.png");
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/slide7.png");
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/slide8.png");
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: -36px;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-carousel-control-1 {
    width: 88px;
    height: 88px;
    left: auto;
    right: 0;
    top: 265px;
  }

  .u-section-1 .u-carousel-control-2 {
    width: 88px;
    height: 88px;
    left: 6px;
    position: absolute;
    top: 235px;
    right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}